# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Variables sensibles
*.tfvars

# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db